/* @import "../omarchy/current/theme/waybar.css"; */

* {
  background-color: transparent;
  border: none;
  border-radius: 80px;
  padding: 2px;
  color: @foreground;

  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 12px;
}

.modules-left,
.modules-center,
.modules-right {
    background-color: transparent;
    border-radius: 20px;
    padding: 0 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

/* Workspace buttons targetting */ 
#workspaces button {
  color: white; 
  padding: 0.5px;
}

/* Individual workspace colors */
#workspaces button.1 { color: #0077ff; } /* Deep Blue */
#workspaces button.2 { color: #00aaff; } /* Sky Blue */
#workspaces button.3 { color: #00ccaa; } /* Teal/Cyan */
#workspaces button.4 { color: #00ee77; } /* Mint Green */
#workspaces button.5 { color: #00ff00; } /* Bright Green */

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 18px;
}

tooltip {
  padding: 8px;
  margin-top: -10px;
  background-color: @background;
  border-radius: 8px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 5px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 5px;
  font-size: 10px;
  padding-bottom: 1px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#language {
    background: #313244; /* A dark grey color */
    color: #cdd6f4;      /* White text */
    padding: 0 10px;
    margin: 0 5px;
    border-radius: 5px;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 7.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}
